
<mat-toolbar class="max-w-8xl mx-auto border-x justify-between ">
    <div>
        <mat-icon class="align-middle">store</mat-icon>
        <a routerLink="home">Store</a>

    </div>  
    
<!--License: CC Attribution. Made by undefinedowl-icons-->

<svg xmlns:mydata="http://www.w3.org/2000/svg" mydata:contrastcolor="ffffff" mydata:template="Default" mydata:presentation="2.5" mydata:layouttype="undefined" mydata:specialfontid="undefined" mydata:id1="461" mydata:id2="394" mydata:companyname="Ismael HF" mydata:companytagline="" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 550 470" class="svg-image-fade">
  <g  fill="#3d3935" fill-rule="none" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal; fill: rgb(0, 0, 0);">
    <g data-paper-data="{&quot;isGlobalGroup&quot;:true,&quot;bounds&quot;:{&quot;x&quot;:65,&quot;y&quot;:207.14365671641792,&quot;width&quot;:420,&quot;height&quot;:55.712686567164155}}" style="fill: rgb(0, 0, 0);">
      <g data-paper-data="{&quot;isPrimaryText&quot;:true}" style="fill: rgb(0, 0, 0);">
        <path d="M164.51493,262.85634l6.58209,-17.6306l-15.98507,-37.6903h-17.31716c3.05597,0.62687 4.93657,1.80224 6.73881,6.1903zM203.85075,262.38619c-3.05597,-0.54851 -4.3097,-1.8806 -4.3097,-6.50373v-38.70896c0,-7.20896 0.62687,-8.77612 4.3097,-9.63806h-16.53358v48.34701c0,4.62313 -1.25373,5.87687 -4.3097,6.50373zM149.78358,262.38619c-5.25,-1.33209 -7.52239,-3.99627 -7.6791,-13.16418c-0.31343,9.16791 -2.50746,11.83209 -7.75746,13.16418z" data-paper-data="{&quot;glyphName&quot;:&quot;M&quot;,&quot;glyphIndex&quot;:2,&quot;word&quot;:1}" fill-rule="nonzero" style="fill: rgb(0, 0, 0);"/>
        <path d="M278.05597,262.38619v-54.85075h-16.45522c2.89925,0.70522 4.3097,1.8806 4.3097,6.03358v39.1791c0,6.34701 -0.39179,8.85448 -4.3097,9.63806zM290.98507,207.53545c8.93284,0.31343 12.06716,4.3097 13.55597,14.65299v-14.65299zM304.54104,262.38619v-14.57463c-1.48881,10.34328 -4.62313,14.33955 -13.63433,14.57463zM295.37313,228.53545c-0.78358,5.09328 -2.58582,6.34701 -9.63806,6.50373c7.05224,0.31343 8.85448,1.64552 9.63806,6.66045z" data-paper-data="{&quot;glyphName&quot;:&quot;E&quot;,&quot;glyphIndex&quot;:4,&quot;word&quot;:1}" fill-rule="nonzero" style="fill: rgb(0, 0, 0);"/>
        <path d="M328.12687,262.38619v-47.87687c0,-4.93657 1.33209,-6.26866 4.3097,-6.97388h-20.76493c3.05597,0.70522 4.3097,1.95896 4.3097,6.97388v38.31716c0,7.1306 -0.70522,8.85448 -4.3097,9.5597zM352.8097,262.38619v-14.57463c-1.48881,10.34328 -4.70149,14.33955 -13.71269,14.57463z" data-paper-data="{&quot;glyphName&quot;:&quot;L&quot;,&quot;glyphIndex&quot;:5,&quot;lastGlyphOfWord&quot;:true,&quot;word&quot;:1}" fill-rule="nonzero" style="fill: rgb(0, 0, 0);"/>
        <g data-paper-data="{&quot;isIcon&quot;:&quot;true&quot;,&quot;iconType&quot;:&quot;icon&quot;,&quot;rawIconId&quot;:&quot;18635&quot;,&quot;selectedEffects&quot;:{&quot;container&quot;:&quot;&quot;,&quot;transformation&quot;:&quot;&quot;,&quot;pattern&quot;:&quot;&quot;},&quot;isDetailed&quot;:false,&quot;iconStyle&quot;:&quot;icon-in-text&quot;,&quot;bounds&quot;:{&quot;x&quot;:203.772,&quot;y&quot;:207.144,&quot;width&quot;:55.400000000000034,&quot;height&quot;:55.24200000000002},&quot;fillRule&quot;:&quot;evenodd&quot;,&quot;suitableAsStandaloneIcon&quot;:true}" fill-rule="evenodd" style="fill: rgb(0, 0, 0);">
          <path d="M233.235,207.144l25.937,55.242h-55.4zM232.61114,233.95427c4.95706,0.13896 9.03186,3.86211 9.71719,8.66604l2.40102,2.4007l2.23843,-2.23843c-0.63901,-7.41385 -6.80068,-13.26893 -14.3412,-13.42207l2.28916,2.28916zM222.22469,243.76756c0.13896,-4.95706 3.86242,-9.03186 8.66604,-9.71687l2.4007,-2.40102l-2.23843,-2.23843c-7.41385,0.6387 -13.26893,6.80068 -13.42207,14.3412l2.28916,-2.28916zM232.03861,254.15464c-4.95769,-0.13927 -9.03217,-3.86274 -9.71782,-8.66666l-2.4007,-2.4007l-2.23843,2.23843c0.63838,7.41417 6.80068,13.26956 14.34088,13.4227l-2.28884,-2.28884zM247.01851,244.35616l-2.28916,2.28916l-2.30428,-2.30428c-0.13896,4.95675 -3.86242,9.03154 -8.66604,9.71719l-2.40102,2.40133l2.23811,2.23811c7.41385,-0.63901 13.26924,-6.80068 13.42238,-14.34151z" data-paper-data="{&quot;glyphName&quot;:&quot;A&quot;,&quot;glyphIndex&quot;:3,&quot;word&quot;:1,&quot;isPathIcon&quot;:true}" style="fill: rgb(0, 0, 0);"/>
        </g>
      </g>
    </g>
  </g>
</svg>









<div class="leftToolkit flex row-auto justify-between " >
<a mat-icon-button href="https://www.linkedin.com/in/ismael-hajfani-831740188/" target="_blank" class="pt-3">
    <span class="eicon-security"></span>
</a>

    <button mat-icon-button [mat-menu-trigger-for]="menu">

        <mat-icon [matBadge]="1" matBadgeColor="warn">
            shopping_cart
        </mat-icon> 
        
    </button>
    <mat-menu #menu="matMenu" >
       <div class= "p-3 divide-y divide-solid">
            <div class="pb-3  ">
                <span class="mr-16">1 Items</span>
                <a routerLink="cart">view cart</a>
            </div>
               
            
            <div class="py-3">
                <div class="flex justify  font-light mb-2">
                    keyboard X 1
                    <span class="font-bold not-italic ml-9 " > {{'150' | currency}}</span>
                </div>

                <div class="flex justify font font-light mb-2">
                    keyboard X 1
                    <span class="font-bold not-italic ml-9 " > {{'150' | currency}}</span>
                </div>

                <div class="flex justify font font-light mb-2">
                    keyboard X 1
                    <span class="font-bold not-italic ml-9 " > {{'150' | currency}}</span>
                </div>

                <div class="divide-y">
                    <span class="h-1 w-full bg-red-600 lg:w-1/3"></span>
                <div class=" flex justify-between font-light mb-2 mt-6  ">
                                Total Price :
                        <span class="font-bold not-italic " >{{'450' | currency }}</span>
                    </div>
                   
                </div>
                <div class="flex justify-between font-normal mb-2 mt-6" > 
                   <div></div>
                    <span>
                        <button mat-raised-button color="warn"><mat-icon>delete</mat-icon>
                            clear </button>
                    </span>
                </div>



            </div>
            
            
        </div>
    </mat-menu>
</div>


    </mat-toolbar>
