
<mat-toolbar class=" max-w-8xl mx-auto border-x justify-between  ">
    <div class="flex px-5">
        <mat-icon class="pt-1.5 mx-4">menu</mat-icon>
        <a routerLink="home">  <svg width="186" height="47" viewBox="0 0 186 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 37.1053L1.20486 9.00421H4.11984L14.8858 33.4244L25.6907 9.00421H28.6057L29.6162 37.1053H26.8178L25.9628 14.8619L16.0518 37.1053H13.5255L3.77004 14.9411L2.79838 37.1053H0Z" fill="#434344"/>
            <path d="M56.2421 11.6164H43.2219V21.5112H55.8923V24.1234H43.2219V34.4931H56.7862L56.553 37.1053H40.268V9.00421H56.2421V11.6164Z" fill="#434344"/>
            <path d="M65.8029 37.1053V9.00421H72.7989C83.4742 9.00421 88.8119 13.6349 88.8119 22.8964C88.8119 25.8516 88.2159 28.3979 87.024 30.5352C85.8321 32.646 84.122 34.2688 81.8936 35.4034C79.6653 36.538 76.9965 37.1053 73.8872 37.1053H65.8029ZM68.7957 34.4139H73.7317C77.6961 34.4139 80.6888 33.4508 82.7098 31.5246C84.7568 29.5985 85.7803 26.7884 85.7803 23.0943C85.7803 19.2684 84.7438 16.4187 82.671 14.5453C80.624 12.6455 77.4888 11.6956 73.2653 11.6956H68.7957V34.4139Z" fill="#434344"/>
            <path d="M107.025 37.1053L118.491 9.00421H121.095L126.594 23.0547L132.094 37.1053H129.062L126.186 29.5853H113.088L110.096 37.1053H107.025ZM114.099 27.0126H125.215L119.773 12.7642L114.099 27.0126Z" fill="#434344"/>
            <path d="M99.1093 47V0H101.538V47H99.1093Z" fill="#434344"/>
            <path d="M136.955 19.7895H135.109V2.22631H140.696C142.688 2.22631 144.235 2.66333 145.336 3.53737C146.453 4.4114 147.012 5.68123 147.012 7.34684C147.012 9.01246 146.445 10.3235 145.312 11.28C144.178 12.22 142.421 12.69 140.041 12.69H136.955V19.7895ZM140.502 3.80947H136.955V11.0821H140.138C141.935 11.0821 143.223 10.7688 144 10.1421C144.777 9.51544 145.166 8.58368 145.166 7.34684C145.166 6.12649 144.785 5.23596 144.024 4.67526C143.263 4.09807 142.089 3.80947 140.502 3.80947Z" fill="#FF006E"/>
            <path d="M149.627 19.7895V2.22631H151.498V18.1321H159.563L159.392 19.7895H149.627Z" fill="#FF006E"/>
            <path d="M171.377 3.85895H163.24V10.0432H171.159V11.6758H163.24V18.1568H171.717L171.572 19.7895H161.394V2.22631H171.377V3.85895Z" fill="#FF006E"/>
            <path d="M174.073 19.7895H171.96L177.984 10.8101L172.372 2.22638H174.486L179.077 9.25164L183.741 2.22638H185.757L180.049 10.7853L186 19.7895H183.862L179.004 12.3437L174.073 19.7895Z" fill="#FF006E"/>
            <path d="M0.272065 37.1053V9.00421H3.26478V37.1053H0.272065Z" fill="#434344"/>
            </svg>  </a>

    </div>  
    
<!--License: CC Attribution. Made by undefinedowl-icons-->


<form>   
    <label for="default-search" class="   text-sm font-medium text-gray-900 sr-only dark:text-white ">Search</label>
    <div class="relative min-w-[500px] max-w-[600px]">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        </div>
        <input type="search" id="default-search" class=" focus:outline-none  block w-full p-4 pl-10 text-sm text-gray-900  border-stone-300 rounded-lg bg-gray-50 dark:bg-gray-100  dark:placeholder-gray-400 border-2 " placeholder="Search Mockups, Logos..." required>
        <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-rose-800  focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-rose-500 dark:hover:bg-rose-600 dark:focus:ring-rose-200">Search</button>
    </div>
</form>

    




























<div class="leftToolkit flex row-auto justify-between " >
<a mat-icon-button href="https://www.linkedin.com/in/ismael-hajfani-831740188/" target="_blank" class="pt-3">
    <span class="eicon-security"></span>
</a>

    <button mat-icon-button [mat-menu-trigger-for]="menu">

        <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn">
            shopping_cart
        </mat-icon> 
        
    </button>
    <mat-menu #menu="matMenu" >
       <div class= "p-3 divide-y divide-solid">
            <div class="pb-3  ">
                <span class="mr-16">{{itemsQuantity}} Items</span>
                <a routerLink="cart">view cart</a>
            </div>
               
            
            <div *ngIf="cart.items.length" class="py-3">
                <div
                *ngFor="let item of cart.items"
                class="flex justify-between font-light mb-2"
              >
              {{ item.name }} x {{ item.quantity }}
              <span class="font-bold not-italic ml-9 " > {{item.price | currency}}</span>
                </div>

                

                <div class="divide-y">
                    <span class="h-1 w-full bg-red-600 lg:w-1/3"></span>
                <div class=" flex justify-between font-light mb-2 mt-6  ">
                                Total Price :
                        <span class="font-bold not-italic">{{getTotal(cart.items) | currency}}</span>
                    </div>
                   
                </div>
                <div (click)="onClearCart()"
                class="flex justify-between font-normal mb-2 mt-6" > 
                   <div></div>
                    <span>
                        <button mat-raised-button color="warn"><mat-icon>delete</mat-icon>
                            clear </button>
                    </span>
                </div>



            </div>
            
            
        </div>
    </mat-menu>
</div>


    </mat-toolbar>

    <mat-toolbar class=" max-w-8xl max-h-[48px] drop-shadow-xl  bg-sideral-gray mx-auto border-x  ">
<div class="m-auto" >
        <div class="text-stone-100 font-normal ">
            <ul class=" flex flex-wrap items-center justify-center ">
                <li class="nav-item">
                    <a routerLink="home" class="nav-link mr-4
                    ">Boutique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" routerLink="cart">Exclusivités Mediazone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" href="/apple/">Promotions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mr-4" href="/apple/">Service après vente</a>
                </li>
                <li class="nav-item">
                    <a href="tel:+212661448549" class="nav-link custom">Assistance</a>
                </li>
            </ul>
        </div>
    </div>
        
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
        </mat-toolbar>
    