:host {             // host targets selector: 'home'

    display: block;
    margin-top: 100px;

    
    width: 100% ;  // takes parent width        
    


    height: 100%; // takes parent height    
    

}